body {
    margin: 0;
}

main {
    width: 1440px;
    height: 768px;
    margin: 0;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: grid;
}

.card {
    width: 920px;
    height: 510px;
    margin: auto;
    border-radius: 20px;
    background: #ffffff;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.image .bgimg {
    width: 390px;
    height: 510px;
    background-image: url("../images/bg-pattern-desktop.svg");
    background-position: right bottom 30%;
    background-size: 240%;
    position: relative;
}

.image .womanimg {
    width: 400px;
    height: 360px;
    background-image: url("../images/illustration-woman-online-desktop.svg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 180px;
    left: 260px;
}

.image .boximg {
    position: absolute;
    top: 320px;
    left: 160px;
}

.content {
    padding: 70px 94px 70px 16px;
}

.content .title {
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: hsl(238, 29%, 16%);
}

.accordion {
    margin: 30px 0;
}

.accordion .accordionItem {
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

.accordionItem .question {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    background: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.accordionItem .questionText {
    width: fit-content;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: hsl(237, 12%, 33%);
}

.accordionItem .question.collapsed {
    .questionText {
        font-weight: 400;
    }
}

.accordionItem .question.collapsed:hover {
    .questionText {
        color: hsl(14, 88%, 65%);
    }
}

.accordionItem .questionArrow {
    width: 10px;
    height: 6px;
}

.accordionItem .answer {
    margin: 0 0 18px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: hsl(240, 6%, 50%);
}

.accordionItem .answer.hidden {
    display: none;
}